In [ ]:
import pandas as pd
import numpy as np

In [ ]:
peak = pd.read_csv('Slot_9-9.20.csv')
non_peak = pd.read_csv('Slot_7-7.20.csv')

In [ ]:
peak['SRI']=0.0
peak

      stop_id_modified_from  stop_id_modified_to  ...  number_of_trips  SRI
0                     36156                38709  ...              9.0  0.0
1                     38709                 2321  ...             22.0  0.0
2                      2321                38783  ...             19.0  0.0
3                     38783                38784  ...             23.0  0.0
4                     38784                38785  ...             25.0  0.0
...                     ...                  ...  ...              ...  ...
3303                   3905                  813  ...              1.0  0.0
3304                    813                  861  ...              2.0  0.0
3305                    861                  880  ...              2.0  0.0
3306                    880                  823  ...              2.0  0.0
3307                  39593                39385  ...              NaN  0.0

[3308 rows x 5 columns]

In [ ]:
for i in range(0,20):
  for j in range(0,20):
    if((peak['stop_id_modified_from'][i]==non_peak['stop_id_modified_from'][j]) & (peak['stop_id_modified_to'][i]==non_peak['stop_id_modified_to'][j])):
      SRI=(1-(peak['avera'][i])/non_peak['average_time'][j])*10
      peak['SRI'][i]=SRI

peak["SRI"] = pd.to_numeric(peak["SRI"], downcast="float")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
peak.to_csv('SRI1.csv')