In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/finalSlot1.csv')

In [ ]:
countroutes = set()
keyto=dataset['stop_id_to'][1]
keyfrom=dataset['stop_id_from'][1]
for i in range(0,len(dataset['stop_id_to'])):
  if((dataset['stop_id_to'][i]==keyto) & (dataset['stop_id_from'][i]==keyfrom)):
    countroutes.add(dataset['route_id'][i])

In [ ]:
countroutes

{'100_18',
 '115P_90',
 '204',
 '208',
 '264',
 '332',
 '333',
 '341',
 '36_47',
 'VJR5'}

In [ ]:
len(countroutes)

10

In [ ]:
count =0
keyto=dataset['stop_id_to'][1]
keyfrom=dataset['stop_id_from'][1]
for i in range(0,len(dataset['stop_id_to'])):
  if((dataset['stop_id_to'][i]==keyto) & (dataset['stop_id_from'][i]==keyfrom)):
    count+=1;

In [ ]:
count

90

In [ ]:
dataset['stop_id_from'][1]

36156

In [ ]:
count/len(countroutes)

9.0

In [ ]:
df = pd.DataFrame()

In [ ]:
stop_id_to = []
stop_id_from = []
trip_id = []
time=[]
speed=[]

In [ ]:
for i in range(0,len(dataset['stop_id_to'])):
  if(((dataset['stop_id_to'][i] in stop_id_to)==0) & ((dataset['stop_id_from'][i] in stop_id_from)==0)):
    stop_id_to.append(dataset['stop_id_to'][i])
    stop_id_from.append(dataset['stop_id_from'][i])

In [ ]:
df['stop_id_from'] = stop_id_from
df['stop_id_to'] = stop_id_to
# df['trip_id'] = trip_id
# df['time'] = time
# df['speed'] = speed

In [ ]:
df

      stop_id_from  stop_id_to
0            36156       38709
1            38709        2321
2             2321       38783
3            38783       38784
4            38784       38785
...            ...         ...
2867          3905         813
2868           813         861
2869           861         880
2870           880         823
2871           823         862

[2872 rows x 2 columns]

In [ ]:
for i in range(0,len(df['stop_id_to'])):
    trip_id.append(dataset['trip_id'][i])
    time.append(dataset['time'][i])
    speed.append(dataset['speed'][i])

In [ ]:
df1=pd.DataFrame()

In [ ]:
df1=dataset.drop_duplicates()

In [ ]:
df1

       route_id  stop_id_from  ...      time      speed
0        100_18         36156  ...  0.027222  14.479565
1        100_18         36156  ...  0.032222  12.232736
2        100_18         36156  ...  0.058333   6.757130
3        100_18         36156  ...  0.033611  11.727251
4        100_18         36156  ...  0.058333   6.757130
...         ...           ...  ...       ...        ...
148115     VJR6         39381  ...  0.011667  34.701131
148116     VJR6         39381  ...  0.011389  35.547501
148117     VJR6         39380  ...  0.016667  30.432500
148118     VJR6         39380  ...  0.032778  15.474153
148119     VJR6         39380  ...  0.041667  12.173000

[147897 rows x 6 columns]