In [ ]:
import numpy as np
import pandas as pd

In [ ]:
time_diff = pd.read_csv('time.csv')

In [ ]:
import re

In [ ]:
hour = '\A(24)'
s='24:08:50'
s1='24:08:00'
if(re.search(hour,s) and re.search(hour,s1)):
  s = s.replace(s[0], "0")
  print(s)


print(s)

04:08:50
04:08:50

In [ ]:
s = '24:01:54'
s1 = '24:05:44'
if(re.search(hour,s) and re.search(hour,s1)):
        s = s.replace(s[0], "0")
        s = s.replace(s[1], "0")
        s1 = s1.replace(s1[0], "0")
        s1 = s1.replace(s1[1], "0")
print(s)
print(s1)

00:01:50
00:05:00

In [ ]:
s = '23:01:54'
s1 = '24:05:44'
print(s.split(":"))
print(s1.split(":"))

['23', '01', '54']
['24', '05', '44']

In [ ]:

from datetime import datetime, time
def timew(i):
    pattern = '\A\d{2}:\d{2}:\d{2}'
    hour = '\A(24)'
    s = str(time_diff['departure_time'][i])
    s1 = str(time_diff['arrival_time'][i+1])
    if ( re.search(pattern, s) and re.search(pattern,s1)):
      if(re.search(hour,s) and re.search(hour,s1)):
        s = s.replace(s[0], "0")
        s = s.replace(s[1], "0")
        s1 = s1.replace(s1[0], "0")
        s1 = s1.replace(s1[1], "0")
      if(re.search(hour,s) or re.search(hour,s1)):
        s1
      FMT = '%H:%M:%S'
      tdelta = datetime.strptime(s1, FMT) - datetime.strptime(s, FMT)
      a = tdelta.seconds/3600
    else:
      a=0.018333333333333333
    return a  

for i in range(2470,2475):
    b = timew(i)
    time_diff['time_diff'][0] = 'NaN'
    time_diff['time_diff'][i+1] = b

In [ ]:
time_diff['time_diff'].head(2480)

0             NaN
1       16.388056
2       16.388056
3       16.388056
4       16.388056
          ...
2475     0.020278
2476     0.066667
2477     0.075833
2478     0.007500
2479    23.686111
Name: time_diff, Length: 2480, dtype: float64

In [ ]:
time_diff['departure_time'][1]

'07:40:33'

In [ ]:
time_diff['departure_time'][2476]

'24:14:35'

In [ ]:
time_diff['arrival_time'][i+1]

'09:53:25'

In [ ]:
time_diff['time_diff'][2476]

0.009722222222222222

In [ ]:
time_diff['time_diff'].head(2475)

0            NaN
1       0.027222
2       0.019722
3       0.008889
4       0.008889
          ...
2470    0.019167
2471    0.010000
2472    0.009167
2473    0.015278
2474    0.006389
Name: time_diff, Length: 2475, dtype: float64