In [ ]:
import numpy as np
import pandas as pd

In [ ]:
agency = pd.read_excel('pune_static.xlsx', sheet_name = 'agency.csv')
routes = pd.read_excel('pune_static.xlsx', sheet_name = 'routes.csv')
shapes = pd.read_excel('pune_static.xlsx', sheet_name = 'shapes.csv')
stop_times = pd.read_excel('pune_static.xlsx', sheet_name = 'stop_times.csv')
stops = pd.read_excel('pune_static.xlsx', sheet_name = 'stops.csv')
trips = pd.read_excel('pune_static.xlsx', sheet_name = 'trips.csv')

In [ ]:
routes.drop('route_short_name', axis='columns')
routes.drop('route_type', axis='columns')
trips.drop('service_id', axis='columns')

      route_id  ... run_sequence_number
0           42  ...                   1
1           42  ...                   4
2          366  ...                   4
3           42  ...                   1
4          366  ...                   1
...        ...  ...                 ...
21799   209_96  ...                   2
21800   209_96  ...                   3
21801   209_96  ...                   4
21802   209_96  ...                   5
21803   209_96  ...                   6

[21804 rows x 8 columns]

In [ ]:
def haversine(lon1, lat1, lon3, lat3):                                                                                                                                  
    lon1, lat1, lon3, lat3 = map(np.radians, [lon1, lat1, lon3, lat3])                                                  
    a = np.sin((lat3) / 2.0)**2 + (np.cos(lat1) * np.cos(lat1+lat3) * np.sin((lon3) / 2.0)**2)                 
    distance = 6371 * 2 * np.arcsin(np.sqrt(a))                                                                         
    return distance

In [ ]:
a = (stop_times['arrival_time'])[2470]
b = str(a)
print(b)

23:58:52

In [ ]:
import re
from datetime import datetime, time
def timew(i):
    pattern = '\A\d{2}:\d{2}:\d{2}'
    s = str(stop_times['departure_time'][i])
    s1 = str(stop_times['arrival_time'][i+1])
    if ( re.search(pattern, s) and re.search(pattern,s1)):
      FMT = '%H:%M:%S'
      tdelta = datetime.strptime(s1, FMT) - datetime.strptime(s, FMT)
      a = tdelta.seconds/3600
    else:
      a=0.018333333333333333
    return a  

for i in range(0,len(stop_times['arrival_time'])-1):
    b = timew(i)
    stop_times['time'][0] = 'NaN'
    stop_times['time'][i+1] = b

In [ ]:
stop_times['time']

0              NaN
1         0.003889
2         0.017500
3         0.008611
4         0.021667
            ...
751847    0.007222
751848    0.008056
751849    0.007500
751850    0.000278
751851    0.022500
Name: time, Length: 751852, dtype: float64

In [ ]:
stop_times['dist'] = haversine(stops['stop_lon'],stops['stop_lat'],abs(stops['stop_lon'].diff()),abs(stops['stop_lat'].diff()))

In [ ]:
print(stop_times['dist'])

0              NaN
1         0.024843
2         0.067376
3         0.134745
4         0.061118
            ...
751847         NaN
751848         NaN
751849         NaN
751850         NaN
751851         NaN
Name: dist, Length: 751852, dtype: float64

In [ ]:
stop_times['velocity'] = stop_times['dist']/stop_times['time']

In [ ]:
stop_times.head()

                                       trip_id  ...   velocity
0  NORMAL_42_Katraj To Bhakti Shakti_Up-0740_0  ...        NaN
1  NORMAL_42_Katraj To Bhakti Shakti_Up-0740_0  ...   6.388135
2  NORMAL_42_Katraj To Bhakti Shakti_Up-0740_0  ...   3.850046
3  NORMAL_42_Katraj To Bhakti Shakti_Up-0740_0  ...  15.647781
4  NORMAL_42_Katraj To Bhakti Shakti_Up-0740_0  ...   2.820818

[5 rows x 8 columns]

In [ ]:
stop_times['velocity'].head()

0          NaN
1     6.388135
2     3.850046
3    15.647781
4     2.820818
Name: velocity, dtype: float64